<% content_for :title, "Cloud - #{current_user_name} - Group List" %>
	<div class = "pannel-group" id = "accordion">
		<ol class="breadcrumb ">
		  <li><a href="/">HPCC Cloud</a></li>
		  <li><a href="users/home"><%= current_user_name %></a></li>
		  <li class="active">Groups</li>
		</ol>
		<h2>Machine List</h2>
		<% @user_group_list.each do |g| %>
			<% vm_detail = VmType.find(g["type_id"]) %>
			<%= form_tag( groups_handle_action_path, method: :post) do %>
			<%= hidden_field_tag :group_id, g["group_id"] %>
			<div id = "collapsesState<%= g['group_id']%>" class="panel panel-default">
				<div class="panel-heading" style = "height: 54px;">
					<div class="panel-title">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseId?">
							 <i class="fa fa-angle-double-down fa-1x"></i> <%= g["group_name"] %>
						</a>
						<div class=" pull-right">
							<% if (g['state'] == 1) %>Running <% end %>
							<% if (g['state'] == 0) %>Stoped <% end %>
							<% if (g['state'] == 2) %>Hibernate <% end %>
							<button id="start<%= g['group_id']%>" class = "btn btn-success" data-toggle="modal" data-target="#choose-iso-<%= g['group_id']%>">Start</button>
							<input type="submit" value="Hibernate" id="hibernate<%= g['group_id']%>" name="commit" class="btn btn-warning"/>
							<input type="submit" value="Stop" id="stop<%= g['group_id']%>" name="commit" class="btn btn-danger"/>
						</div>
					</div>
				</div>
				<div id="collapsesState<%= g['group_id']%>" class="panel-collapse collapse in ">
					<div class="panel-body">
						<h3>Group Detail</h3>
						<ul class="">
							<li>Name: <%= g["group_name"] %></li>
							<li>Number Of Machine: <%= g['numvms'] %></li>
						</ul>
						<h3>Machine Detail</h3>
						<ul class="">
							<li>Ram: <%= vm_detail["ram"] %></li>
							<li>CPU: <%= vm_detail["cpus"] %> core</li>
							<li>Storage: 100 GB</li>
						</ul>
					</div>
				</div>

				<div class="modal fade" id="choose-iso-<%= g['group_id']%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				        <h4 class="modal-title" id="myModalLabel">Choose Iso Image</h4>
				      </div>
				      <div class="modal-body">
				      	<select name = "iso_id" class = "selectpicker btn btn-primary" onchange="getPrice(this, <%= g['type_id']%>)">
				      		<% @iso_list.each do |iso| %>
										<option value = "<%= iso['iso_id']%>"> <%= iso['iso_name']%></option>
									<% end %>
								</select>
								<h5>Price: 	$<span id="price-<%= g['type_id']%>">
															<% ret = total_cost(g['type_id'], @iso_list.first['iso_id'])%>
															<%= ret[:ret] == 'OK' ? ret[:data] : 'error' %>
														</span>
								</h5>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        <input type="submit" class="btn btn-primary" name="commit" value = "Start" ></input>
				      </div>
				    </div><!-- /.modal-content -->
				  </div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
			</div>	
		<% end %>
		<% end %>
	</div>	
	

<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		<% @user_group_list.each do |m| %>
			if (<%= m['state'] %> == 0){
				$('#collapsesState<%= m['group_id']%>').removeClass('panel panel-default').addClass('panel panel-danger');
				$('#stop<%= m['group_id']%>').attr('disabled','disabled');
			} else if (<%= m['state'] %> == 1) {
				$('#collapsesState<%= m['group_id']%>').removeClass('panel panel-default').addClass('panel panel-success');
				$('#start<%= m['group_id']%>').attr('disabled','disabled');
			} else if (<%= m['state'] %> == 2) {
				$('#collapsesState<%= m['group_id']%>').removeClass('panel panel-default').addClass('panel panel-warning');
				$('#start<%= m['group_id']%>').attr('disabled','disabled');
				$('#stop<%= m['group_id']%>').attr('disabled','disabled');
				$('#hibernate<%= m['group_id']%>').attr('disabled','disabled');
			}
		<% end %>
	});
</script>