<% content_for :title, "Cloud - Register New Machine" %>
<div class = 'pricing-root'>
  <h3 class="page-header">Single Machines Description</h4>
  <div class="container-fluid">
    <div class="row-fluid">
    	<% unless @vm_list.empty? %>
		  <% @vm_list.each do |vm| %>
		    <%= form_tag( machines_register_path, method: :post) do %>
		      <%= hidden_field_tag :vm_id, vm["id"] %>
		      <%= hidden_field_tag :vm_name, vm["name"] %>
		      <div class="spancustomize span3 <%= get_class_from_vm_id(vm["id"]) %> ">
		        <div class="pricing-table-header-<%= get_class_from_vm_id(vm["id"]) %>">
		          <h2>$<%= vm["price"] %>/hour</h2>
		          <h3><%= vm["name"] %></h3>
		        </div>
		        <div class="pricing-table-features">
		          <p><strong>100 GB</strong> Disk Space</p>
		          <p><strong><%= vm["ram"] %> MB</strong> Memory</p>
		          <p>CPU <strong><%= vm["cpus"] %> </strong> cores</p>
		        </div>
		        <div class="pricing-table-signup-tiny">
		          <p><a data-toggle="modal" data-target="#choose-option-<%= vm["id"] %>" >Choose</a></p>
		          <!-- <button>Choose</button> -->
		        </div>
		        <!-- Modal -->
						<div class="modal fade" id="choose-option-<%= vm["id"] %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						  <div class="modal-dialog">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						        <h4 class="modal-title" id="myModalLabel">Options</h4>
						      </div>
						      <div class="modal-body">
						      	<div class = "row-fluid">
											<%= radio_button_tag :machine_type, 1, checked: true %> Single
							        <br>
							        <%= radio_button_tag :machine_type, 2 %> Group
							        <%= number_field_tag :group_num, 2, in: 1...10%>
						      	</div>
						        
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						        <!-- <button type="button" class="btn btn-primary">Submit</button> -->
						        <%= submit_tag "Submit", class: "btn btn-primary" %>
						      </div>
						    </div>
						  </div>
						</div>
		      </div>
		    <% end %>
		  <% end %>
			<% else %>
		  	<h2>No Machine Available </h2>
			<% end %>
  	</div><!--row-fluid-->
	</div>
</div