	<!DOCTYPE html>
<html>
	<head>
		<title>Hpcc Cloud</title>

		<%= stylesheet_link_tag    "bootstrap"%>
		<%= stylesheet_link_tag    "carousel"%>
		<%= stylesheet_link_tag    "customize"%>
		<%= stylesheet_link_tag    "footer"%>
		<%= stylesheet_link_tag    "nhantdFont"%>
		
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
		<%= csrf_meta_tags %>
	</head>
	<body>

		<%= render 'layouts/header' %>

		<div id = "myCarousel">
			<div id = "myCarouselContent">
				<h1>High Perfomance Cloud Computing</h1>
				<h3> Providing the best cloud service in Viet Nam </h3>
				<div class = "carouselButton">
					<button id = "btnAbout" type="button" class="btn btn-default btn-lg">
						About
					</button>
					<button id = "btnContact" type="button" class="btn btn-default btn-lg">
						Contact
					</button>
				</div>
			</div>
		</div>
		<div id = "wrap">
			<%= render "layouts/about"%>	
			<%= render "layouts/contact"%>
		</div>
		<%= render "layouts/footer"%>
		<a href="#" class="go-top"><i class="fa fa-arrow-up fa-2x"></i></a>
		
		
		
		<%= javascript_include_tag "application"%>
		<script>
			$(document).ready(function() {
				$("#btnAbout").click(function() {
					$('html, body').animate({
						scrollTop : $("#about").offset().top
					}, 'slow');
				});
				$("#btnContact").click(function() {
					$('html, body').animate({
						scrollTop : $("#contact").offset().top
					}, 'slow');
				});
				$("#btnAboutInHeader").click(function() {
					$('html, body').animate({
						scrollTop : $("#about").offset().top
					}, 'slow');
				});
				$("#btnContactInHeader").click(function() {
					$('html, body').animate({
						scrollTop : $("#contact").offset().top
					}, 'slow');
				});

			});
		</script>
	</body>
</html>