<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dashboard Template for Bootstrap</title>
    <%= stylesheet_link_tag    "application-all", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "application-user", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">HPCC Cloud</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <% if admin_signed? %>
              <li><a href="/admin/home">Admin</a></li>  
            <% end %>
            <li><a href="#">Settings</a></li>
            <li><a href="/users/home"><%= current_user_name %></a></li>
            <li><%= link_to "Sign out", users_delete_session_path, method: "delete" %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li id="dashboard" class="<%= 'active' if session[:active] == 'home' %>"><a href="/users/home">Dashboard</a></li>
            <li id="register" class="<%= 'active' if session[:active] == 'register' %>"><a href="/machines/register">Register New Machine</a></li>
            <li id="single" class="<%= 'active' if session[:active] == 'single' %>"><a href="/single_machines/index">Single Machines</a></li>
            <li id="groups" class="<%= 'active' if session[:active] == 'groups' %>"><a href="/groups/index">Groups</a></li>
            <li id="history" class="<%= 'active' if session[:active] == 'history' %>"><a href="/users/history">History</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
          <%= yield%>
        </div>
      </div>
    </div>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </body>

</html>
